version: '1.0.{build}'

image: Visual Studio 2017

platform:
  - x64

configuration:
  - Release
  - Debug

install:
  - set PATH=C:\Ruby22\bin;%PATH%
  - git submodule update --init --recursive

before_build:
  - ruby -v
  - cmake -G "Visual Studio 15 2017 Win64" .

build:
  project: $(APPVEYOR_BUILD_FOLDER)\$(APPVEYOR_PROJECT_NAME).sln

test_script:
  - cd %APPVEYOR_BUILD_FOLDER%
  - ctest --config %CONFIGURATION% --output-on-failure
